<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a77081">  <td>14/11/25 07:30:11</td>   <td>0</td> <td title="&gt;&gt;TestSuite.beforeSuite()[pri:0, instance:testRepository.TestSuite@5ba23b66]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a77081">  <td>14/11/25 07:30:12</td>   <td>1235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite.beforeMethod()[pri:0, instance:testRepository.TestSuite@5ba23b66]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a77081">  <td>14/11/25 07:30:40</td>   <td>29739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite.executeSecond_TC()[pri:0, instance:testRepository.TestSuite@5ba23b66]">executeSecond_TC</td> 
  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a77081">  <td>14/11/25 07:31:21</td>   <td>70090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite.afterMethod()[pri:0, instance:testRepository.TestSuite@5ba23b66]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a77081">  <td>14/11/25 07:31:21</td>   <td>70524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite.beforeMethod()[pri:0, instance:testRepository.TestSuite@5ba23b66]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a77081">  <td>14/11/25 07:31:47</td>   <td>96508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite.executeThird_TC()[pri:0, instance:testRepository.TestSuite@5ba23b66]">executeThird_TC</td> 
  <td>main@1682092198</td>   <td></td> </tr>
<tr bgcolor="a77081">  <td>14/11/25 07:32:04</td>   <td>112919</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite.afterMethod()[pri:0, instance:testRepository.TestSuite@5ba23b66]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1682092198</td>   <td></td> </tr>
</table>
